<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
 

   <script src="js/jQ.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
 <script src="js/script.js"></script>
</head>
<body>
	<img src="img/google.jpg" alt="google" class="logo">
	<form action="">
		<input id="search_query" type="text" name="search_query">
		<input type="submit" id="submit" value="Search" name="search">
	</form>
	<script type="text/html" id="results">
		<% for(var i=0;i<results.length;++i){%>
		<div class="search_result">
			<p><a href="<%=decodeURI(results[i].url)%>" class="title"><%=results[i].titleNoFormatting%></a></p>
			<p class="url"> <%=results[i].url%></p>
			<p> <%=results[i].content%></p>
		</div>
		<% }%>
	</script>
</body>
</html>